.nav-bar{
  display: flex;
  background-color: rgb(172, 147, 147);
  justify-content: space-between;
  align-items: center;
  padding: 30px 20px;
}

.logo{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 800;
  font-size: 1.5rem;
  color:rgb(77, 25, 25);
}

.menu ul{
  list-style: none;
  display: flex;
  gap: 2rem;
  font-size: 1.2rem;

}

.menu a{
  text-decoration: none;
  color: rgb(77, 25, 25);
}

.menu a:hover{
  color: black;
}

